@keyframes backgroundTransition {
    0% {
      background-color: #fffbfc; /* snow */
    }
    25% {
      background-color: #d1fae5;
    }
    50% {
      background-color: #cffafe;
    }
    75% {
      background-color: #e0e7ff;
    }
    100% {
      background-color: #ffe4e6; 
    }
  }
  
  .animate-background {
    animation: backgroundTransition 15s alternate infinite;
  }